
@{
    ViewBag.Title = "BillingInfo";
}

<h2>Customer Billing Information</h2>

<fieldset>
    <legend>Sell Magazines</legend>
    @using (Ajax.BeginForm("CompleteCheckout", "Customers",
                                        new AjaxOptions { UpdateTargetId = "divInterestDetails" }))
    {
        <div id="divInterestDetails"></div>
           <table>
            <tr>
                <td>@Html.Label("Customer Card Number (Format: 1111222233334444)")
                @Html.TextBox("cardNum")</td>
                <td width="25px"></td>
                <td></td>
            </tr>
            <tr>
                <td height="25px"></td>
            </tr>
            <tr>
                <td>@Html.Label("Card Expiration Month (Format: MM)")
                @Html.TextBox("cardExpMo")</td>
                <th width="25px"></th>
                <td></td>
            </tr>
            <tr>
                <td height="25px"></td>
            </tr>
            <tr>
                <td>@Html.Label("Card Expiration Year (Format: YY)")
                @Html.TextBox("cardExpYe")</td>
                <th width="25px"></th>
                <td></td>
            </tr>
            <tr>
                <td height="25px"></td>
            </tr>
            <tr>
                <td><button>Submit and Checkout</button></td>
                <th width="25px"></th>
                <td></td>
            </tr>
        </table>
    }
</fieldset>

