<div >
    <h2 style="margin-top:5%;">Welcome to Magazine Selling Corp. Please click a link below to get selling!</h2>


    <h3 style="margin-top:5%;">Seller Actions</h3>
    <div>
        @Html.ActionLink("Sell To Existing Customer", "Index", "Customers")
    </div>
    <div>
        @Html.ActionLink("Sell To New Customer", "Create", "Customers")
    </div>

    <h3 style="margin-top:5%;">Administration</h3>
    <div>
        @Html.ActionLink("Add New Employee", "NewEmployee", "Customers")
    </div>
    <div>
        @Html.ActionLink("List Employees", "SellerIndex", "Customers")
    </div>
    <p></p>
    <div>
        @Html.ActionLink("Add Magazine", "NewMagazine", "Customers")
    </div>
    <div>
        @Html.ActionLink("List Magazines", "IndexMagazine", "Customers")
    </div>
</div>