
@{
    ViewBag.Title = "NewEmployee";
}

<h2>Enter New Employee Information</h2>

<fieldset>
    <legend>Enter Login Information</legend>
    @using (Ajax.BeginForm("addSeller", "Customers",
                                                        new AjaxOptions { UpdateTargetId = "divInterestDetails" }))
    {
        <div id="divInterestDetails"></div>
        <table>
            <tr>
                <td>@Html.Label("First Name")<p></p>
                @Html.TextBox("firstName")</td>
                <td width="25px"></td>
                <td>@Html.Label("Last Name")<p></p>
                @Html.TextBox("lastName")</td>
            </tr>
            <tr>
                <td height="25px"></td>
            </tr>
            <tr>
                <td>@Html.Label("Password")<p></p>
                @Html.TextBox("password")</td>
                <td width="25px"></td>
                <td>@Html.Label("Repeat Password")<p></p>
                @Html.TextBox("passwordRepeated")</td>
            </tr>
            <tr>
                <td height="25px"></td>
            </tr>
            <tr>
                <td>@Html.Label("Clearance")<br />
                    @Html.Label("(1 for Admin, 0 for Seller)")
                <p></p>
                @Html.TextBox("clearance")</td>
                <td width="25px"></td>
                <td></td>
            </tr>
            <tr>
                <td height="25px"></td>
            </tr>
            <tr>
                <td><button>Submit</button></td>
                <td width="25px"></td>
                <td></td>
            </tr>
        </table>
    }
</fieldset>

