@model MagazineSalesProject.Models.SignUpModel

@{
    ViewBag.Title = "Create";
}

<h2>Add New Magazine</h2>

<fieldset>
    <legend>Enter Login Information</legend>
    @using (Ajax.BeginForm("AddMagazine", "Customers",
                                    new AjaxOptions { UpdateTargetId = "divInterestDetails" }))
    {
        <div id="divInterestDetails"></div>
        
          <table>
            <tr>
                <td>@Html.Label("Name")<p></p>
                @Html.TextBox("name")</td>
                <td width="25px"></td>
                <td>@Html.Label("Description")<p></p>
                @Html.TextBox("description")</td>
            </tr>
            <tr>
                <td height="25px"></td>
            </tr>
            <tr>
                <td>@Html.Label("Genre")<p></p>
                @Html.TextBox("genre")</td>
                <th width="25px"></th>
                <td>@Html.Label("Price")<p></p>
                @Html.TextBox("price")</td>
            </tr>
            <tr>
                <td height="25px"></td>
            </tr>
            <tr>
                <td>@Html.Label("Publisher")<p></p>
                @Html.TextBox("publisher")</td>
                <th width="25px"></th>
                <td></td>
            </tr>
            <tr>
                <td height="25px"></td>
            </tr>
            <tr>
                <td><button>Submit</button></td>
                <th width="25px"></th>
                <td></td>
            </tr>
        </table>
    }
</fieldset>

