
@{
    ViewBag.Title = "Create";
}

<h2>Add New Magazine</h2>

<fieldset>
    <legend>Enter Login Information</legend>
    @using (Ajax.BeginForm("addMagazine", "Customers",
                                    new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
    {
        <div id="divInterestDeatils"></div>
        <ul>
            <li>
                @Html.Label("Name")<p></p>
                @Html.TextBox("name")
            </li>
            <li style="margin-top:5%;">
                @Html.Label("Description")<p></p>
                @Html.TextBox("description")
            </li>
            <li style="margin-top:5%;">
                @Html.Label("Genre")<p></p>
                @Html.TextBox("genre")
            </li>
            <li style="margin-top:5%;">
                @Html.Label("Price")<p></p>
                @Html.TextBox("price")
            </li>
            <li style="margin-top:5%;">
                @Html.Label("Publisher")<p></p>
                @Html.TextBox("publisher")
            </li>
            <li>
                <button>Submit</button>
            </li>
        </ul>
    }
</fieldset>

